@import 'nib'
@import "param/param"
@import "param/import"

html
  overflow-y: hidden

#viewport
  width: 100%
  height: 1080px
  background-color: #000
  
#viewport canvas
  position: absolute
  width: 100%
  display: none
  
#transition
  display: block